body, html {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* header */

header {
    height: 105px;
    background-color: #07354b;
    position: relative;
    border-bottom: 3px solid #0387da;
}

header span p {
    margin: 0;
}

div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

img.logo-white {
    position: relative;
    float: left;
    margin-left: 125px;
    width: 174px;
    height: 75px;
}

span.header-top-container {
    position: relative;
    float: right;
    width: 200px;
    margin-right: 50px;
    color: #e4e3e3;
    font-size: 1.0em;
    line-height: 1.0em;
    text-align: left;
    /* border: 1px solid red; */
}

p.header-top-desc {
    font-family: "Verdana";
    font-size: 0.9em;
}

p.phone {
    font-family: "Georgia";
    font-size: 1.1em;
    font-weight: bold;
}

/* main */

#header {
    position: relative;
    background-image: url("../img/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 900px;
}

section div.main {
    padding-top: 150px;
}

section div.main {
    float: right;
    width: 600px;
}

span.main3x {
    font-size: 8em;
    line-height: 0.8em;
    font-weight: bolder;
}

span.main2x {
    font-size: 4em;
    line-height: 0.8em;
}

span.main {
    font-size: 2em;
    line-height: 0.9em;
}

section p.main {
    text-align: left;
    color: white;
}

p.main:after {
    display: block;
    clear: both;
}

div.floatContainer {
    position: relative;
    float: left;
}

div#search {
    position: relative;
    float: left;
    //font: 1em/1.25em Arial, Helvetica, sans-serif;
    //float: left;
    //padding: 5px;
    width: 50%;
    //padding-left: 25px;
    color: #363641;
}

mark.rbt-highlight-text {
    font-weight: bold;
    background-color: white;
}

button.btn {
    font-family: "Trebuchet MS";
    font-size: 0.9em;
    color: white;
    background-color: #f89633;
    width: 180px;
    position: relative;
    float: left;
    margin-left: 15px;
}

button.btn:hover {
    color: #07354b;
}
